In [7]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("NISPUF17.csv")
df.head(10)

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
5,6,207941,20794,2,NaN,35.995367,1019,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
7,8,182861,18286,1,313.225832,163.213401,1001,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
8,9,161121,16112,1,978.042448,718.616990,1016,2017,3.0,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0
9,10,143401,14340,2,NaN,1536.859533,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def proportion_of_education():
    df = pd.read_csv("NISPUF17.csv")
    menos = df[df["EDUC1"]==1]["EDUC1"] # Menos de 12 años de estudio
    igual = df[df["EDUC1"]==2]["EDUC1"] # Mas de 12 años de estudio 
    no_graduada = df[df["EDUC1"]==3]["EDUC1"] # mas de 12 años, no graduaga 
    graduaga = df[df["EDUC1"]==4]["EDUC1"] # Graduada de universidad

    prop1 = len(menos) / len(df)
    prop2 = len(igual) / len(df)
    prop3 = len(no_graduada) / len(df)
    prop4 = len(graduaga) / len(df)

    dict = {"less than high school":prop1, "high school":prop2,"more than high school but not college":prop3,"college":prop4}
    return dict
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [80]:

alimentado = df[df["CBF_01"]==1]
no_alimentado = df[df["CBF_01"]==2]

alimentado.loc[:, "NUM_VAC"] = 0 #### Crear una nueav columna

alimentado = alimentado.replace(to_replace="  ",value=np.nan)

for i, row in alimentado.iterrows():
    if not pd.isna(row["XFLUTY1"]):
        alimentado.at[i, 'NUM_VAC'] += 1
for i, row in alimentado.iterrows():
    if not pd.isna(row["XFLUTY2"]):
        alimentado.at[i, 'NUM_VAC'] += 1
for i, row in alimentado.iterrows():
    if not pd.isna(row["XFLUTY3"]):
        alimentado.at[i, 'NUM_VAC'] += 1
for i, row in alimentado.iterrows():
    if not pd.isna(row["XFLUTY4"]):
        alimentado.at[i, 'NUM_VAC'] += 1
for i, row in alimentado.iterrows():
    if not pd.isna(row["XFLUTY5"]):
        alimentado.at[i, 'NUM_VAC'] += 1



no_alimentado.loc[:, "NUM_VAC"] = 0 #### Crear una nueav columna

no_alimentado = no_alimentado.replace(to_replace="  ",value=np.nan)

for i, row in no_alimentado.iterrows():
    if not pd.isna(row["XFLUTY1"]):
        no_alimentado.at[i, 'NUM_VAC'] += 1
for i, row in no_alimentado.iterrows():
    if not pd.isna(row["XFLUTY2"]):
        no_alimentado.at[i, 'NUM_VAC'] += 1
for i, row in no_alimentado.iterrows():
    if not pd.isna(row["XFLUTY3"]):
        no_alimentado.at[i, 'NUM_VAC'] += 1
for i, row in no_alimentado.iterrows():
    if not pd.isna(row["XFLUTY4"]):
        no_alimentado.at[i, 'NUM_VAC'] += 1
for i, row in no_alimentado.iterrows():
    if not pd.isna(row["XFLUTY5"]):
        no_alimentado.at[i, 'NUM_VAC'] += 1


tupla = (alimentado["NUM_VAC"].mean(),no_alimentado["NUM_VAC"].mean())
tupla

/tmp/ipykernel_66982/3987460257.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alimentado.loc[:, "NUM_VAC"] = 0 #### Crear una nueav columna
/tmp/ipykernel_66982/3987460257.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_alimentado.loc[:, "NUM_VAC"] = 0 #### Crear una nueav columna

(1.0845801904290837, 0.8198286413708691)

In [21]:
alimentado = df[df["CBF_01"]==1]
no_alimentado = df[df["CBF_01"]==2]


tupla = (alimentado["P_NUMFLU"].mean(),no_alimentado["P_NUMFLU"].mean())
tupla

(1.8799187420058687, 1.5963945918878317)

In [ ]:
import pandas as pd
import numpy as np
def average_influenza_doses():
    
    df = pd.read_csv("assets/NISPUF17.csv")
    
    alimentado = df[df["CBF_01"]==1]
    no_alimentado = df[df["CBF_01"]==2]

    alimentado.loc[:, "NUM_VAC"] = 0 #### Crear una nueav columna

    alimentado = alimentado.replace(to_replace="  ",value=np.nan)

    for i, row in alimentado.iterrows():
        if not pd.isna(row["XFLUTY1"]):
            alimentado.at[i, 'NUM_VAC'] += 1
    for i, row in alimentado.iterrows():
        if not pd.isna(row["XFLUTY2"]):
            alimentado.at[i, 'NUM_VAC'] += 1
    for i, row in alimentado.iterrows():
        if not pd.isna(row["XFLUTY3"]):
            alimentado.at[i, 'NUM_VAC'] += 1
    for i, row in alimentado.iterrows():
        if not pd.isna(row["XFLUTY4"]):
            alimentado.at[i, 'NUM_VAC'] += 1
    for i, row in alimentado.iterrows():
        if not pd.isna(row["XFLUTY5"]):
            alimentado.at[i, 'NUM_VAC'] += 1



    no_alimentado.loc[:, "NUM_VAC"] = 0 #### Crear una nueav columna

    no_alimentado = no_alimentado.replace(to_replace="  ",value=np.nan)

    for i, row in no_alimentado.iterrows():
        if not pd.isna(row["XFLUTY1"]):
            no_alimentado.at[i, 'NUM_VAC'] += 1
    for i, row in no_alimentado.iterrows():
        if not pd.isna(row["XFLUTY2"]):
            no_alimentado.at[i, 'NUM_VAC'] += 1
    for i, row in no_alimentado.iterrows():
        if not pd.isna(row["XFLUTY3"]):
            no_alimentado.at[i, 'NUM_VAC'] += 1
    for i, row in no_alimentado.iterrows():
        if not pd.isna(row["XFLUTY4"]):
            no_alimentado.at[i, 'NUM_VAC'] += 1
    for i, row in no_alimentado.iterrows():
        if not pd.isna(row["XFLUTY5"]):
            no_alimentado.at[i, 'NUM_VAC'] += 1


    tupla = (alimentado["NUM_VAC"].mean(),no_alimentado["NUM_VAC"].mean())
    return tupla

In [6]:
df

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28461,28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
masculino = df[df["SEX"]==1]
femenino = df[df["SEX"]==2]

vacunado = df

vacunado["P_NUMVRC"].replace(0,np.nan,inplace=True)
vacunado = vacunado[~(vacunado["P_NUMVRC"].isna())]
tuvo_vacunado = vacunado[vacunado["HAD_CPOX"]==1]
no_tuvo_vacunado = vacunado[vacunado["HAD_CPOX"]==2]

len(tuvo_vacunado)/len(no_tuvo_vacunado)

tuvo_vacunado_masculino = tuvo_vacunado[tuvo_vacunado["SEX"]==1]
no_tuvo_vacunado_masculino = no_tuvo_vacunado[no_tuvo_vacunado["SEX"]==1]


tuvo_vacunado_femenino = tuvo_vacunado[tuvo_vacunado["SEX"]==2]
no_tuvo_vacunado_femenino = no_tuvo_vacunado[no_tuvo_vacunado["SEX"]==2]

dic = {"male":(len(tuvo_vacunado_masculino)/len(no_tuvo_vacunado_masculino)),"female":(len(tuvo_vacunado_femenino)/len(no_tuvo_vacunado_femenino))}

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

Question 4

A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The had_chickenpox_column is either 1 (for yes) or 2 (for no), and the num_chickenpox_vaccine_column is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., corr > 0) means that an increase in had_chickenpox_column (which means more no’s) would also increase the values of num_chickenpox_vaccine_column (which means more doses of vaccine). If there is a negative correlation (e.g., corr < 0), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, pval is the probability that we observe a correlation between had_chickenpox_column and num_chickenpox_vaccine_column which is greater than or equal to a particular value occurred by chance. A small pval means that the observed correlation is highly unlikely to occur by chance. In this case, pval should be very small (will end in e-18 indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [9]:
df = pd.read_csv("NISPUF17.csv")

In [23]:
import scipy.stats as stats
########### DEBEMOS UTILIZAR LA FUNCION DE CORRELACION DE PANDAS corr()
numero_vac = df["P_NUMVRC"].replace(np.nan,0)

cor = stats.pearsonr(df["HAD_CPOX"],numero_vac)
cor[0]

ValueError: array must not contain infs or NaNs

In [35]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # this is just an example dataframe
    df = pd.read_csv("NISPUF17.csv")
    numero_vac = df["P_NUMVRC"].replace(np.nan,0)

    infectado = df.replace(1,True)
    infectado = df.replace(2,False)


    # here is some stub code to actually run the correlation
    corr, pva=stats.pearsonr(infectado["HAD_CPOX"],numero_vac)
    
    # just return the correlation
    return infectado["HAD_CPOX"]

    # YOUR CODE HERE
    raise NotImplementedError()
corr_chickenpox().to_csv("as.csv")

In [73]:

df = pd.read_csv("NISPUF17.csv")
numVac = df
numVac.dropna(subset="P_NUMVRC",inplace=True)
numVac["P_NUMVRC"]

#### Solo debemos tomar los valores 1 y 2, ya que en algunos casos hay resultados como 77 o 99
mask = (numVac["HAD_CPOX"]==1) |(numVac["HAD_CPOX"]==2)


numVac = numVac[mask]

corre = stats.pearsonr(numVac["P_NUMVRC"],numVac["HAD_CPOX"])
corre[0]

0.07044873460148028